[33mcommit caff7974baca0eedf26292e2630fef7f13176b18[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mmain[m[33m, [m[1;31morigin/main[m[33m, [m[1;31morigin/HEAD[m[33m)[m
Merge: df8d317 617cd23
Author: Maryna H <maryna.hamici@yahoo.com>
Date:   Tue May 28 22:22:56 2024 +0200

    Merge branch 'testimodials-fix-padding' of github.com:mhamici/group19-vyshyvanka

[33mcommit 617cd2373dbc7a71114af44803e83270fb77e834[m[33m ([m[1;31morigin/testimodials-fix-padding[m[33m)[m
Author: kiryhanchiiiik <kirillsabelkijk@gmail.com>
Date:   Tue May 28 23:09:43 2024 +0300

    Update testimonials.css

[33mcommit df8d3175048f373bf47681c5dae6c4d341b33d8a[m
Merge: 9ae46eb 5f0ab7b
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 22:08:49 2024 +0200

    Merge pull request #42 from mhamici/header
    
    add fix backgroun mob menu

[33mcommit 5f0ab7b51bcddca67bc1cd5f4f19b4a432c93b69[m[33m ([m[1;31morigin/header[m[33m)[m
Author: IvanBogachov <106016809+IvanBogachov@users.noreply.github.com>
Date:   Tue May 28 23:05:30 2024 +0300

    add fix backgroun mob menu

[33mcommit 9ae46eb747a0351e8302966cfc2986192da5a461[m
Merge: 005ee81 ad74088
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 22:02:10 2024 +0200

    Merge pull request #39 from mhamici/about
    
    add fix about background

[33mcommit 005ee81c777797d09fb24415219485f376cd388b[m
Merge: 75b393a 4042e4f
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 22:01:21 2024 +0200

    Merge pull request #40 from mhamici/collection
    
    add fix backgroun collection

[33mcommit 75b393af35742468fe61a6adfe2ae4327e5ebd2e[m
Merge: f05534c 06358b5
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 22:00:31 2024 +0200

    Merge pull request #41 from mhamici/order
    
    add fix background order

[33mcommit 06358b5903fe736c71eec336df5d7d73f75f3c47[m
Author: IvanBogachov <106016809+IvanBogachov@users.noreply.github.com>
Date:   Tue May 28 22:54:21 2024 +0300

    add fix background order

[33mcommit 4042e4faf29dedf6924b0c9cbcf97b1219694a2f[m
Author: IvanBogachov <106016809+IvanBogachov@users.noreply.github.com>
Date:   Tue May 28 22:40:49 2024 +0300

    add fix backgroun collection

[33mcommit ad740883b2e648868d8cdc8051afdb0bce8bf1a7[m
Author: IvanBogachov <106016809+IvanBogachov@users.noreply.github.com>
Date:   Tue May 28 22:24:41 2024 +0300

    add fix about background

[33mcommit f05534ce6d9fe530e812870b68839a416d83363d[m
Merge: c6a0479 ac8a1a1
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 21:05:40 2024 +0200

    Merge pull request #37 from mhamici/hero-section-fix
    
    fix tablet images

[33mcommit c6a04798a087e56fa4028c9ffd7a2ae1fca79b71[m
Merge: 7ef291b dfa9b26
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 21:03:22 2024 +0200

    Merge pull request #31 from mhamici/edit-group-collection-2
    
    Edit group collection 2

[33mcommit dfa9b2695e3b4a998c96105444a528dbb3b78d40[m
Merge: e838d60 7ef291b
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 21:03:16 2024 +0200

    Merge branch 'main' into edit-group-collection-2

[33mcommit 7ef291bba8f5c530b08b7322a25750de4648c30f[m
Merge: ba46ac0 0394be4
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 20:49:52 2024 +0200

    Merge pull request #38 from mhamici/footer
    
    NEW Footer

[33mcommit 0394be4bb7f40893e15b0ae165ce9b38e3a8f47f[m
Author: IvanBogachov <106016809+IvanBogachov@users.noreply.github.com>
Date:   Tue May 28 21:37:25 2024 +0300

    add new footer

[33mcommit 72fb87ae057132a71d2e818db7220501497b8552[m
Author: IvanBogachov <106016809+IvanBogachov@users.noreply.github.com>
Date:   Tue May 28 21:36:11 2024 +0300

    add new footer

[33mcommit ac8a1a1f92bc1d5c8951e7898fcf95d6474483b2[m[33m ([m[1;31morigin/hero-section-fix[m[33m)[m
Author: Eugene Soshyn <sichi331@gmail.com>
Date:   Tue May 28 20:07:07 2024 +0300

    fix tablet images

[33mcommit ba46ac0524e820a0742125ecac4502a8cc67bf3d[m
Merge: e2c91d1 53cbed8
Author: Maryna H <maryna.hamici@yahoo.com>
Date:   Tue May 28 18:49:46 2024 +0200

    Merge branch 'main' of github.com:mhamici/group19-vyshyvanka

[33mcommit e2c91d112bb1016f4531884ff1e4f8347258fa5f[m
Author: Maryna H <maryna.hamici@yahoo.com>
Date:   Tue May 28 18:48:24 2024 +0200

    about section changes

[33mcommit 53cbed8c5077fb15b9ffc48a7605862a3415e127[m
Merge: e202b7c f172dfc
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 18:38:04 2024 +0200

    Merge pull request #33 from mhamici/testimonials-fix-padding
    
    Update testimonials.css

[33mcommit f172dfc442766ad9bc22fd24261ad960907bae46[m
Merge: 2600a9e e202b7c
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 18:37:57 2024 +0200

    Merge branch 'main' into testimonials-fix-padding

[33mcommit e202b7c465904f7b71dc882ca7cfc8e4218d6e62[m
Merge: 622c615 5a8e473
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 18:35:46 2024 +0200

    Merge pull request #34 from mhamici/testimodials-fix-padding
    
    add paddings

[33mcommit 622c615cfac82d82c07c41973292b32a5eb9e092[m
Merge: 6fec73b cf05e81
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 18:35:18 2024 +0200

    Merge pull request #35 from mhamici/order
    
    Fixed order

[33mcommit cf05e81b4f0724eef049750f40f2bb237ce3a5e2[m
Merge: 2572f0a 6fec73b
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 18:35:10 2024 +0200

    Merge branch 'main' into order

[33mcommit 6fec73b44930d1b8c75fdeccc58cf246af30d131[m
Merge: e4693cc e382ec8
Author: Maryna H <151512081+mhamici@users.noreply.github.com>
Date:   Tue May 28 18:02:36 2024 +0200

    Merge pull request #36 from mhamici/hero.section
    
    fix width of images. fix hero main content

[33mcommit e382ec805e88e63f5d842d69192a5f9c0ca34a37[m
Author: Eugene Soshyn <sichi331@gmail.com>
Date:   Tue May 28 18:51:58 2024 +0300

    fix width of images. fix hero main content

[33mcommit 2572f0aa4e1fe0df6db4f73a1885a4818872a4d5[m
Author: Iuliia Gakhova <gakhova.juli@gmail.com>
Date:   Tue May 28 16:36:03 2024 +0200

    fixed

[33mcommit 5a8e473c3cfb488e2c049abcb4b9f89698565aa1[m
Author: kiryhanchiiiik <kirillsabelkijk@gmail.com>
Date:   Tue May 28 16:46:22 2024 +0300

    Update testimonials.css

[33mcommit 2600a9ecfff5c313fb85702ba8d5ea778b33f67e[m[33m ([m[1;31morigin/testimonials-fix-padding[m[33m)[m
Author: kiryhanchiiiik <kirillsabelkijk@gmail.com>
Date:   Tue May 28 16:09:08 2024 +0300

    Update testimonials.css

[33mcommit e838d6062fc4378aab9ec1cec59b520d28c9b1a0[m[33m ([m[1;31morigin/edit-group-collection-2[m[33m, [m[1;31morigin/collection-feedback[m[33m)[m
Author: lenuhhh <161879235+lenuhhh@users.noreply.github.com>
Date:   Tue May 28 15:05:04 2024 +0300

    collection feedback edit

[33mcommit e4693cc2b4770d69f57395f5fd256574b80c0673[m
Author: Maryna H <maryna.hamici@yahoo.com>
Date:   Tue May 28 14:01:24 2024 +0200

    js scriptr

[33mcommit 908a873a81f73f56df6d65cca35e41738a259fe1[m
Author: Maryna H <maryna.hamici@yahoo.com>
Date:   Tue May 28 11:23:13 2024 +0200

    pull changees

[33mcommit 1afbb971d4f3f6c7b10e45c7ead7f85d8b0a00cd[m
Author: Maryna H <maryna.hamici@yahoo.com>
Date:   Tue May 28 10:43:44 2024 +0200

    chnaging anchor for about section
