<header class="header">
    <div class="overlay"></div>
    <div class="container navig">
        <nav class="nav">
            <a class="logo-link" href="/index.html"><img src="/img/header/logo.svg" alt="LOGO">
            </a>
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href="#about">About us</a></li>
                <li class="nav-item"><a class="nav-link" href="#collection">Our collection</a></li>
                <li class="nav-item"><a class="nav-link" href="#order">CUSTOMER ORDER</a></li>
                <li class="nav-item"><a class="nav-link" href="#testimonials">TEstimonials</a></li>
            </ul>
        </nav>
        <address class="adres">
            <ul class="adres-list">
                <li class="adres-item"><a class="adres-link" href="tel:+380684439426">+380 (68) 443-94-26</a></li>
            </ul>
        </address>
        <ul class="soc-list">
            <li class="svg-card"><a href="https://www.facebook.com/goITclub/" target="_blank" class="svg-link"><svg
                        class="team-soc" width="28" height="28">
                        <use href="/img/icons.svg#icon-facebook"></use>
                    </svg></a></li>
            <li class="svg-card"><a href="https://www.instagram.com/goitclub/" target="_blank" class="svg-link"><svg
                        class="team-soc" width="28" height="28">
                        <use href="/img/icons.svg#icon-instagram"></use>
                    </svg></a></li>
            <li class="svg-card"><a href="https://www.youtube.com/c/GoIT" target="_blank" class="svg-link"><svg
                        class="team-soc" width="28" height="28">
                        <use href="/img/icons.svg#icon-youtube"></use>
                    </svg></a></li>
        </ul>
        <button class="mob-open-btn" type="button" data-menu-button>
            <svg class="mob-open-btn-icon" width="44" height="30">
                <use href="/img/icons.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</header>
