<!-- ======= MOBMENU SECTION ======= -->


<div class="mob-menu" data-menu>
    <div class="container mob-menu-cont">
        <address class="mob-adres">
            <ul class="mob-adres-list">
                <li class="mob-adres-item"><a class="mob-adres-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
                </li>
            </ul>
        </address>
        <button class="mob-menu-close-btn" data-menu-button-close>
            <svg class="mob-menu-close-btn-icon" width="36" height="36">
                <use href="/img/icons.svg#icon-close"></use>
            </svg>
        </button>
        <nav class="mob-nav">
            <ul class="mob-nav-list">
                <li class="mob-nav-item"><a class="mob-nav-link" href="#about">About us</a></li>
                <li class="mob-nav-item"><a class="mob-nav-link" href="#collection">Our collection</a></li>
                <li class="mob-nav-item"><a class="mob-nav-link" href="#order">CUSTOMER ORDER</a></li>
                <li class="mob-nav-item"><a class="mob-nav-link" href="#testimonials">TEstimonials</a></li>
            </ul>
        </nav>
    </div>
    <!-- <img class="mob-menu-img" srcset="/img/header/elements.png 1x, /img/header/elements@2x.png 2x" src="/img/header/elements.png"
        alt="backdr-mob"> -->

</div> 