<div class="section-hero container">
    <div class="section-hero-wrapper">
        <div class="section-hero-content-container">
            <p class="section-hero-content">
                Reviving the traditional 
            <span class="hero-span-content">
                Ukrainian
            </span> 
                artistry in every stitch.
            </p>
            <button class="section-hero-btn-submit" type="submit">
                Order
                <svg  width="26" height="10">
                    <use href=".\img" >

                    </use>
                </svg>
            </button>
        </div>
            <div class="section-hero-image-container">
                <img src="../img/"  class="section-hero-image" alt="girl with gray embroidery">
            </div>
        </div>
    <div class="section-hero-embroidery-container">
        <svg class="section-hero-embroidery-icon" width="52" height="51">
            <use href=".\">

            </use>
        </svg>
        <p class="section-hero-embroidery">
            all embroidery is made by hand
        </p>
    </div>
</div>