<div class="about" id="">
    <div class="container cont-about">
        
        <div class="about-text">
            <h2 class="about-title">About Us</h2>
            <p class="about-text-one">The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka comes to life
                with new zest and style.
                Our store offers a wide selection of high-quality and authentic embroidery, which combines the elegance of
                traditional needlework and modern design.</p>
            <p class="about-text-two">In "Vyshyvanka Vibes" you will find various models of embroidery, from classic to modern,
                corresponding to the latest
                fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly qualified craftsmen who
                convey
                the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just clothing, but a symbol of
                national pride, the heritage of our ancestors and a way of expressing one's individuality. Each embroidery from
                "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special meaning.</p>
        </div>
            
        <div class="about-img">
            <picture class="about-pict">
                <source media="(min-width: 1280px)"
                    srcset="/img/about/desk/desk-girl-and-boy.jpg 1x, /img/about/desk/desk-girl-and-boy@2x.jpg 2x">
                <source media="(min-width: 768px)"
                    srcset="/img/about/tabl/tabl-girl-and-boy.jpg 1x, /img/about/tabl/tabl-girl-and-boy@2x.jpg 2x">
                <source media="(max-width: 767px)"
                    srcset="/img/about/mob/mob-girl-and-boy.jpg 1x, /img/about/mob/mob-girl-and-boy@2x.jpg 2x">
                <img class="about-imges" src="/img/about/desk/desk-girl-and-boy.jpg" alt="Banking App">
            </picture>
        </div>
    </div>
</div>