<div class="section-hero container">
    <div class="section-hero-wrapper">
        <div class="section-hero-content-container">
            <p class="section-hero-content">
                Reviving the traditional 
            <span class="hero-span-content">
                Ukrainian
            </span> 
                artistry in every stitch.
            </p>
            <button class="section-hero-btn-submit" type="submit">
                Order
                <svg class="section-hero-btn-icon"  width="24" height="16">
                    <use href="../img/icons.svg#icon-arrow" ></use>
                </svg>
            </button>
        </div>
            <div class="section-hero-image-container">
                <img srcset="../img/mobile/maingirl.webp 1x, ../img/mobile/maingirlx2.webp 2x"
                src="../img/mobile/maingirl.webp"  class="section-hero-image" alt="girl with gray embroidery">
            </div>
        </div>
    <div class="section-hero-embroidery-container">
        <svg class="section-hero-embroidery-icon" width="52" height="51">
            <use href=".\">

            </use>
        </svg>
        <p class="section-hero-embroidery">
            all embroidery is made by hand
        </p>
    </div>
</div>