<div class="section-hero container">
    <div class="section-hero-wrapper">
        <div class="section-hero-content-container">
            <p class="section-hero-content">
                Reviving the traditional 
            <span class="hero-span-content">
                Ukrainian
            </span> 
                artistry in every stitch.
            </p>
            <button class="section-hero-btn-submit" type="submit">
                Order
                <svg class="section-hero-btn-icon"  width="24" height="16">
                    <use href="/img/icons.svg#icon-arrow" ></use>
                </svg>
            </button>
        </div>
            <div class="section-hero-image-container ">
                <picture>
                    <source  media="(min-width: 1158px)"
                        srcset="/img/hero/main-girl-desktop-min.jpg 1x,
                        /img/hero/main-girl-desktop@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/hero/main-girl-tablet-min.jpg 1x,
                        /img/hero/main-girl-tablet@2x-min.jpg 2x">
                    <source media="(max-width: 767px)"
                        srcset="/img/hero/main-girl-mobile-min.jpg 1x,
                        /img/hero/main-girl-mobile@2x-min.jpg 2x">
                    <img src="/img/hero/main-girl-mobile-min.jpg" alt="girl with gray embroidery" class="section-hero-image">
                </picture>
            </div>
        </div>
    <div class="section-hero-embroidery-container">
        <svg class="section-hero-embroidery-icon" width="52" height="51">
            <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <p class="section-hero-embroidery">
            all embroidery is made by hand
        </p>
    </div>
</div>