<section class="our-collection-group">
    <div class="container">
        <!-- ==================== Section OUR-COLLECTION ====================-->
        <div class="section-our-colection">
            <div class="colection">
                <h2 class="title-2-collection">Our Collection</h2>
                <ul class="ul-collection">
                    <li class="list-collection">
                        <div class="div-list-collection">
                            <img srcset="" src="" width="335" height="400" alt="">
                        </div>
                        <div class="text-title-3">
                            <h3 class="title-3-colection">August Poltava women's blousering</h3>
                            <p class="paragraph-collection">3300 UAH</p>
                        </div>
                    </li>
                    <li class="list-collection">
                        <div class="div-list-collection">
                            <img srcset="" src="" width="335" height="400" alt="">
                        </div>
                        <div class="text-title-3">
                            <h3 class="title-3-colection">Women's blouse Gorgany</h3>
                            <p class="paragraph-collection">3350 UAH</p>
                        </div>
                    </li>
                    <li class="list-collection">
                        <div class="div-list-collection">
                            <img srcset="" src="" width="335" height="400" alt="">
                        </div>
                        <div class="text-title-3">
                            <h3 class="title-3-colection">Women's blouse Crimea</h3>
                            <p class="paragraph-collection">4000 UAH</p>
                        </div>
                    </li>
                    <li class="list-collection">
                        <div class="div-list-collection">
                            <img srcset="" src="" width="335" height="400" alt="">
                        </div>
                        <div class="text-title-3">
                            <h3 class="title-3-colection">Men's shirt Verkhovina</h3>
                            <p class="paragraph-collection">3100 UAH</p>
                        </div>
                    </li>
                    <li class="list-collection">
                        <div class="div-list-collection">
                            <img srcset="" src="" width="335" height="400" alt="">
                        </div>
                        <div class="text-title-3">
                            <h3 class="title-3-colection">Mountain men's shirt</h3>
                            <p class="paragraph-collection">3300 UAH</p>
                        </div>
                    </li>
                    <li class="list-collection">
                        <div class="div-list-collection">
                            <img srcset="" src="" width="335" height="400" alt="">
                        </div>
                        <div class="text-title-3">
                            <h3 class="title-3-colection">Men's shirt Yasen</h3>
                            <p class="paragraph-collection">1700 UAH</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </section>