<section class="our-collection-group" id="collection">
    <div class="container">
        <!-- ==================== Section OUR-COLLECTION ====================-->
        <div class="section-our-colection">
            <div class="colection">

                <h2 class="title-2-collection">Our Collection</h2>
                <ul class="ul-collection">
                    <li class="list-collection">
                        <div class="div-list-collection">
                            <img class="image-collection" srcset="/img/new-collection/im-1-min.jpg 1x, /img/new-collection/im-1@2x-min.jpg 2x" src="/img/new-collection/im-1-min.jpg" width="335" height="400" alt="image1">
                        </div>
                        <div class="text-title-3">
                            <h3 class="title-3-colection">August Poltava women's blousering</h3>
                            <p class="paragraph-collection">3300 UAH</p>
                        </div>
                    </li>

                    <li class="list-collection">
                        <div class="div-list-collection">
                            <img class="image-collection" srcset="/img/new-collection/im-2-min.jpg 1x, /img/new-collection/im-2@2x-min.jpg 2x" src="/img/new-collection/im-2-min.jpg" width="335" height="400" alt="image2">
                        </div>
                        <div class="text-title-3">
                            <h3 class="title-3-colection">Women's blouse Gorgany</h3>
                            <p class="paragraph-collection">3350 UAH</p>
                        </div>
                    </li>



                    <li class="list-collection">
                        <div class="div-list-collection">
                            <img class="image-collection" srcset="/img/new-collection/im-3-min.jpg 1x, /img/new-collection/im-3@2x-min.jpg 2x" src="/img/new-collection/im-3-min.jpg" width="335" height="400" alt="image3">
                        </div>
                        <div class="text-title-3">
                            <h3 class="title-3-colection">Women's blouse Crimea</h3>
                            <p class="paragraph-collection">4000 UAH</p>
                        </div>
                    </li>

                    <li class="list-collection">
                        <div class="div-list-collection">
                            <img class="image-collection" srcset="/img/new-collection/im-4-min.jpg 1x, /img/new-collection/im-4@2x-min.jpg 2x" src="../img/new-collection/im-4-min.jpg" width="335" height="400" alt="image4">
                        </div>
                        <div class="text-title-3">
                            <h3 class="title-3-colection">Men's shirt Verkhovina</h3>
                            <p class="paragraph-collection">3100 UAH</p>
                        </div>
                    </li>
                
                    <li class="list-collection">
                        <div class="div-list-collection">
                            <img class="image-collection" srcset="/img/new-collection/im-5-min.jpg 1x, /img/new-collection/im-5@2x-min.jpg 2x" src="/img/new-collection/im-5-min.jpg" width="335" height="400" alt="image5">
                        </div>
                        <div class="text-title-3">
                            <h3 class="title-3-colection">Mountain men's shirt</h3>
                            <p class="paragraph-collection">3300 UAH</p>
                        </div>
                    </li>




                    <li class="list-collection">
                        <div class="div-list-collection">
                            <img class="image-collection" srcset="/img/new-collection/im-6-min.jpg 1x ,/img/new-collection/im-6@2x-min.jpg 2x" src="/img/new-collection/im-6-min.jpg" width="335" height="400" alt="image6">
                        </div>
                        <div class="text-title-3">
                            <h3 class="title-3-colection">Men's shirt Yasen</h3>
                            <p class="paragraph-collection">1700 UAH</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </section>
<section class="section-backgroung">
<div class="background-image"></div>
</section>