.about-section {
    padding-top: 80px;
    padding-bottom: 62px;
    background-image: url(/img/about/about-bg-img.png);
    background-repeat: no-repeat;
    background-size: 459px 408px;
    background-position-x: -147%;
    background-position-y: 100%;

}

@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi){
    .about-section{
        background-image: url(/img/about/about-bg-img-2x.png);
    }
}


.about-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.38;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    margin-bottom: 40px;
}

.about-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.about-image {
    max-width: 335px;
    height: auto;
}

.about-paragraph {
    font-size: 14px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
    max-width:335px;
    font-weight: 400;
    line-height: normal;
}

.paragraph-1 {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px){

    .about-section{
        padding: 100px 0;
        background-size: 545px 484px;
        background-position-x: 170%;
        background-position-y: 91%;
    }

    .about-title{
        font-size: 44px;
        line-height: 1.45;
    }

    .about-paragraph{
        font-size: 16px;
        min-width: 704px;
    }

    .about-wrap{
        gap: 40px;
    }

    .about-image{
        min-width: 704px;
    }
}

@media screen and (min-width: 1280px){

    .about-section{
        padding: 150px 0;
        background-position-x: 122%;
        background-position-y: 80%;
    }

    .about-wrap{
        flex-wrap: nowrap;
        gap: 50px;
    }

    .about-content{
        padding-top: 78.5px;
        padding-bottom: 78.5px;
    }

    .paragraph-1{
        min-width: 508px;
    }

    .paragraph-2{
        min-width: 536px;
    }

    .about-image{
        min-width: 594px;
    }

}
