* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: 0;
}
button {
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
body {
  font-family: "Manrope", "DM Sans", sans-serif;
  font-family: "Manrope", "DM Sans", sans-serif;
  color: #fcf9f9;
  font-style: normal;
  background-color: #1c2225;
  font-size: 16px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

/* mobile style 375 */
@media (min-width: 375px) {
.container {
  width: 375px;
}
}
/* mobile style  768px*/
@media (min-width: 768px) {
.container {
  width: 768px;
  padding: 0 32px;
}
}
/* mobile style 1280px */
@media (min-width: 1280px) {
.container {
  width: 1280px;
  padding: 0 50px;
  margin-right: auto;
  margin-left: auto;
}
}
