/*======YUOR_ORDER=========*/

.section-order {
  padding-bottom: 80px;
}
.your-order-title {
  padding-bottom: 40px;
  text-align: start;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  width: 335px;
}
.yellow-title {
  color: #ecd979;
}
.order-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}

.order-form-input {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 16px;
  min-width: 335px;
  height: 47px;
  color: #fcf9f9;
  background-color: transparent;
}
.textarea-order {
  background-color: transparent;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 8px;
  padding: 14px 16px;
  min-width: 335px;
  height: 196px;
  margin-bottom: 20px;
  color: #fcf9f9;
}
.order-send-btn {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 145px;
  color: #fcf9f9;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
}
.order-btn-icon {
  fill: #ecd979;
}

.box-vysh {
  display: none;
}
@media screen and (min-width: 768px) {
  .section-order {
    padding-bottom: 100px;
  }
  .img-vysh {
    border-radius: 4px;
    object-fit: contain;
    margin-left: 20px;
  }
  .order-box {
    display: flex;
    flex-direction: column-reverse;
  }
  .box-vysh {
    display: block;
    width: 704px;
    height: 600px;
    background-image: url(/img/img-order/ornam-tablet-min.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 0;
    background-size: 289px 484px;
  }
  .your-order-title {
    width: 542px;
    font-size: 44px;
    line-height: 1.32;
  }
  .order-form {
    margin-bottom: 100px;
    margin-right: 32px;
  }
  .order-form-input {
    min-width: 508px;
    height: 50px;
    transition: border-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  .order-form-input:focus {
    border-color: #fcf9f9;
  }
  .textarea-order {
    min-width: 508px;
    height: 196px;
    transition: border-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  .textarea-order:focus {
    border-color: #fcf9f9;
  }
  .order-send-btn {
    margin: 0;
    transition: border 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  .order-background-image {
    min-width: 768px;
    min-height: 776px;
    background-image: url(/img/img-order/zelena-order-tablet-min.jpg);
    margin-bottom: 100px;
  }
  .order-send-btn:hover,
  .order-send-btn:focus {
    border: 1px solid #ecd979;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .order-background-image {
    background-image: url(/img/img-order/zelena-order-tablet@2x-min.jpg);
  }
  .box-vysh {
    background-image: url(/img/img-order/ornam-tablet@2x-min.png);
  }
}

@media screen and (min-width: 1280px) {
  .section-order {
    padding-bottom: 150px;
  }
  .order-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .order-background-image {
    min-width: 1282px;
    min-height: 776px;
    background-image: url(/img/img-order/zelena-order-desctop-min.jpg);
  }
  .box-vysh {
    background-image: url(/img/img-order/ornam-desctop-min.png);
    width: 600px;
    height: 640px;
    position: relative;
  }
  .box-vysh .img-vysh {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .order-background-image {
    background-image: url(/img/img-order/zelena-order-desctop@2x-min.jpg);
  }
  .box-vysh {
    background-image: url(/img/img-order/ornam-desctop@2x-min.png);
  }
}
